<div ng-app="configurator" id="configurator">
    <section class="configurator__wrapper">
        <header class="configurator__header">
            <div id="close-button">[X] Close </div>
        </header>
        <div class="configurator__body">
            <div ng-view="" autoscroll="true"></div>
        </div>
        <footer class="configurator__footer">stuff down here too!</footer>
    </section>
</div>