
@{
    ViewBag.Title = "model-page";
}

@section styles {
    <link rel="stylesheet" href="~/assets/css/model-page.css" />
}
<div class="specs__container">
    <div class="specs__header">
        <h3 class="specs__section-title">Specs</h3>
        <h4 class="specs__section-subtitle">RZR XP Turbo EPS</h4>
    </div>
    <div class="specs__body">
        <div class="specs__primer">
            <div class="specs__header">
                <h3 class="specs__section-title">Specs</h3>
                <h4 class="specs__section-subtitle">RZR XP Turbo EPS</h4>
            </div>
            <div class="specs__callout-container">
                <div class="specs__callout">
                    <div>144</div>
                    <h5>Horsepower</h5>
                </div>
                <div class="specs__callout">
                    <div>105</div>
                    <h5>FT-LBS PEAK TORQUE</h5>
                </div>
                <div class="specs__callout">
                    <div>13.5&quot;</div>
                    <h5>GROUND CLEARANCE</h5>
                </div>
            </div>
            <img class="specs__product-image" src="~/assets/img/specs/rzr-stats.png" />
        </div>
        <div class="specs__category-container">
            <div class="specs__category">
                <h4 class="specs__category-title">Engine &amp; Drivetrain</h4>
                <div class="specs__detail">
                    <div>Engine Type</div>
                    <div>4-Stroke DOHC Twin Cylinder Turbocharged</div>
                </div>
                <div class="specs__detail">
                    <div>Cylinders-Displacement</div>
                    <div>925 cc</div>
                </div>
                <div class="specs__detail">
                    <div>Transmission / Final Drive</div>
                    <div>Automatic PVT P/R/N/L/H</div>
                </div>
                <div class="specs__detail">
                    <div>Cooling</div>
                    <div>Liquid</div>
                </div>
            </div>
            <div class="specs__category">
                <h4 class="specs__category-title">Suspension</h4>
                <div class="specs__detail">
                    <div>Front Suspension</div>
                    <div>Dual A­-Arm with Stabilizer Bar, 16" (40.6 cm) travel</div>
                </div>
                <div class="specs__detail">
                    <div>Rear Suspension</div>
                    <div>Trailing ­Arm with Stabilizer Bar, 18” (45.7 cm) travel</div>
                </div>
            </div>
            <div class="specs__category">
                <h4 class="specs__category-title">Brakes</h4>
                <div class="specs__detail">
                    <div>Front / Rear Brakes</div>
                    <div>4­Wheel Hydraulic Disc w. Triple-Bore Front and Dual-Bore Rear Calipers</div>
                </div>
                <div class="specs__detail">
                    <div>Parking Brake</div>
                    <div>Park in Transmission</div>
                </div>
            </div>
        </div>
    </div>
    <div class="specs__footer">
        <a href="#" class="specs__button--primary-cta">Full Specs</a>
        <a href="#" class="specs__button--secondary-cta">Compare</a>
    </div>
</div>