/*
    Reset
    ===================================
*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'United Sans Condensed', Helvetica, serif;
  text-transform: uppercase; }

* {
  margin: 0; }

button {
  font-family: 'United Sans', Helvetica, serif;
  text-transform: uppercase;
  border: 0;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 14px 22px;
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
  background: url("/assets/img/icons/button-background.2x.png") top center; }

/*  Configurator
    ===================================
*/
.configurator__wrapper {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.configurator__header {
  background-color: #D0021B;
  width: 100%;
  color: #000000;
  height: 40px; }

.configurator__body {
  padding: 0 0 40px; }

.configurator__footer {
  background-color: #FFF;
  width: 100%;
  color: #000000;
  height: 40px;
  position: fixed;
  bottom: 0; }

.configurator__title-container {
  padding: 40px 10px; }

.configurator__title {
  font-family: 'United Sans', Helvetica, serif;
  text-transform: uppercase;
  font-size: 36px;
  flex: 2 0 0; }

.configurator__buttons-container {
  margin-left: auto;
  margin-top: 20px; }

.configurator__button {
  font-family: 'United Sans', Helvetica, serif;
  text-transform: uppercase;
  border: 0;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 14px 22px;
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
  background: url("/assets/img/icons/button-background.2x.png") top center;
  background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(10deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(-30deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-color: #D0021B;
  display: block;
  margin-top: 8px; }

.configurator__button--secondary {
  background-color: #444; }

/*
    Flyout
    ===================================
*/
#main {
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  -webkit-transition: transform .5s;
  transition: transform .5s; }

.has-push-right {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

/*
    Cards
    ===================================
*/
.wgCards__container {
  border-bottom: 1px solid #DFDADA; }

.wgCards__binder {
  padding: 34px 14px;
  background-color: #F4F4F4;
  border-left: 5px solid #F4F4F4;
  color: #000;
  transition: background-color .8s; }

.wgCards__container:last-child .wgCards__binder {
  background-color: #ECEAEA;
  border-left-color: #D0021B; }

.wgCards__container--open .wgCards__binder,
.wgCards__container--open:last-child .wgCards__binder {
  background-color: #FFF; }

.wgCards__titleArea {
  -ms-flex: 1 0 0;
  -webkit-flex: 1 0 0;
  flex: 1 0 0; }

.wgCards__optionsArea {
  -ms-flex: 1 0 0;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  justify-content: flex-end;
  align-items: center; }

.wgCards__optionsWrap {
  margin: 10px auto 20px;
  font-weight: bold;
  font-size: 12px; }

.wgCards__title {
  font-weight: bold;
  font-size: 24px;
  padding: 0 0 8px; }

.wgCards__description {
  font-size: 16px;
  line-height: 24px; }

/* Whole Good Cards */
.wgCards__page {
  flex-wrap: wrap;
  background-color: #FFF;
  transition: max-height .8s;
  max-height: 0;
  overflow: hidden; }

.wgCards__container:last-child .wgCards__page {
  border-left: 5px solid #D0021B; }

.wgCards__container--open .wgCards__page {
  max-height: 2000px; }

.wgCards__card {
  background-color: #FFF;
  color: #000;
  margin: 10px;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  border: 1px solid #AAA; }

.wgCards__body {
  padding: 18px 8px 28px 20px; }

.wgCards__card:nth-child(4) {
  margin-right: 0; }

.wgCards__colorSwatch {
  height: 20px;
  margin: 0 0 10px;
  width: 50%; }

.wgCards__name {
  font-weight: bold;
  margin: 0 0 10px; }

.wgCards__priceWrap {
  display: flex;
  margin: 10px 0; }

.wgCards__MSRP {
  float: left;
  text-align: left;
  width: 50%;
  color: #999;
  font-size: 11px; }

.wgCards__price {
  float: right;
  text-align: right;
  width: 50%; }

.wgCards__price--lowest,
.wgCards__price--vehicle {
  font-weight: bold; }

.wgCards__price--vehicle {
  color: #FF0000;
  margin-left: auto; }

.wgCards__price--lowest {
  font-size: 20px; }

.wgCards__buttons {
  width: 100%;
  margin-top: auto; }

.wgCards__arrow {
  background-image: url("/assets/img/icons/arrow.png");
  width: 12px;
  height: 15px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  transition: .8s ease-in-out; }

.wgCards__container--open .wgCards__arrow {
  transform: rotate(180deg); }

.wgCards__features {
  padding: 0 0 0 20px; }

.wgCards__buttons--primary,
.wgCards__buttons--light {
  font-family: 'United Sans', Helvetica, serif;
  text-transform: uppercase;
  border: 0;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 14px 22px;
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
  background: url("/assets/img/icons/button-background.2x.png") top center;
  display: block;
  border-top: 1px solid #FFF;
  background: linear-gradient(#D0021B, #A60101); }

.wgCards__buttons--light {
  background-color: #FFF;
  color: #000;
  background: linear-gradient(#FFFFFF, #E2E2E2); }

.wgCards__buttons--pageToggle {
  background-color: #444;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 27px;
  border: 0;
  width: 100%; }

@media (min-width: 480px) {
  .wgCards__page {
    display: flex; }
  .wgCards__card {
    width: calc(50% - 22px); } }

@media (min-width: 768px) {
  .configurator__title-container {
    display: flex; }
  .configurator__buttons-container {
    margin-top: 0; }
  .configurator__button {
    display: inline; }
  .wgCards__binder {
    padding: 34px 24px;
    display: flex; }
  .wgCards__optionsArea {
    display: flex; }
  .wgCards__optionsWrap {
    margin: 0 auto; }
  .wgCards__card {
    width: calc(25% - 22px); }
  .wgCards__buttons--pageToggle {
    width: auto; } }

