@import 'constants.scss';

body {
    padding:0 10px;
}

.specs__container {
    padding:48px 0;
}

.specs__header {
    margin-top:32px;
}

.specs__container > .specs__header {
    display:none;
}

.specs__primer {
    display:flex;
    flex-direction: column;
    background:url('/assets/img/specs/background.xxs.jpg') no-repeat bottom center;
}

.specs__callout-container {
    display:flex;
    @include font-secondary();
    font-size:48px;
    color:$colorPrimary;
    justify-content: space-around;
}

.specs__callout {
    text-align:center;
    padding:22px 0;
}

.specs__callout h5 {
    font-size:14px;
    color:#000;
    text-transform:uppercase;
    font-weight: bold;
}

.specs__product-image {
    max-width:100%;
    display:block;
    width:480px;
    margin: 0 auto;
}

.specs__section-title {
    font-size:24px;
    @include font-primary();
    margin-bottom:26px;
}

.specs__section-subtitle {
    font-size:24px;
}

.specs__button--primary-cta {
    @include buttons-core();
    background-color:$colorPrimary;
    display:block;
    margin:0 0 8px;
}

.specs__button--secondary-cta {
    @include buttons-core();
    background-color:$colorDark;
    display:block;
}

.specs__category {
    font-size: 16px;
    margin:20px 0 0;
    border-bottom:1px solid #DADADA;
    margin-bottom:32px;
}

.specs__category-title {
    margin-bottom:12px;
    font-family:Arial, Helvetica, sans-serif !important;
    text-transform:none;
    font-size:14px;
}

.specs__detail {
    display:flex;
    border-top:1px solid #DADADA;
    font-size:12px;
}

.specs__detail div:first-child {
    width: calc(33.3333333333% - 10px);
    padding:8px 10px 8px 0;
}

.specs__detail div:last-child {
    width: calc(66.6666666666% - 10px);
    padding:8px 0 8px 10px;
}

@media (min-width:768px) {
    .specs__container {
        background:url('/assets/img/specs/background.jpg') no-repeat top right;
    }

    .specs__body {
        display:flex;
    }

    .specs__category-container {
        width:40%;
        padding-right:10px;
    }

    .specs__primer {
        order:2;
        width:60%;
        padding: 22px 44px;
        background-image:none;
    }

    .specs__primer .specs__header {
        display:none;
    }

    .specs__container > .specs__header {
        display:block;
    }

    .specs__callout-container {
        margin-bottom: 60px;
    }

    .specs__footer {
        display:flex;
    }

    .specs__button--primary-cta {
        margin:0;
    }

    .specs__product-image {
        width:auto;
    }
}