@section scripts {
    <script type="text/javascript" src="/assets/js/menu.js"></script>    
}

<section id="main">
	<h3>Push menu options</h3>
	<button id="push-right">Push Right</button>
	<button id="push-right-navigate">Push Right &amp; Navigate</button>
	<h3>Flyout menu options</h3>
	<button id="flyout-right">Flyout Right</button>
	<button id="flyout-right-navigate">Flyout Right &amp; Navigate</button>
</section>
