.navRight--wrapper {
	position:fixed;
	top:0;
	right:0;
	transition: transform .5s;
	height:100%;
	width:100%;
}

.navRight--wrapper-closed {
	transform: translateX(100%);
}

.navRight--wrapper-open {
	transform: translateX(0);
	z-index:100;
}

#main button {
	display:block;
	margin-bottom:14px;
}